@using Sparc.Blossom.Content
@using Tovik.Domains
<section class="tovik-card">
	<header>
		<h3>Languages Translated</h3>
	</header>
	<ul>
		@foreach (var language in Stats.OrderByDescending(x => x.Value))
		{
			<li>
				<header translate="no">
					@language.Key.NativeName (@language.Key.Id)
					<span>
						@Pretty(language.Value)
					</span>
				</header>
				<div class="meter-container" style="width: @FillPercentage(language.Key)%; background-color: @Color(language.Key.Id)">
				</div>
			</li>
		}
	</ul>
</section>

@inject TovikDomains Domains
@code {
	[Parameter] public required SparcDomain Domain { get; set; }
	Dictionary<Language, int> Stats = [];

	protected override async Task OnParametersSetAsync()
	{
		var pages = await Domains.GetPages(Domain.Domain);

		Stats = pages
			.SelectMany(x => x.TovikUsage)
			.GroupBy(x => Language.Find(x.Key)!)
			.ToDictionary(g => g.Key, g => g.Sum(x => x.Value));
	}

	decimal FillPercentage(Language language)
	{
		if (Domain == null || Domain.TovikUsage == 0)
			return 0;

		var max = Stats.Values.Max();
		if (max == 0)
			return 0;

		if (Stats.TryGetValue(language, out var usage))
			return (decimal)usage / max * 100;

		return 0;
	}

	string Pretty(int count)
	{
		if (count >= 1_000_000_000)
			return (count / 1_000_000_000D).ToString("0.#") + "B";
		if (count >= 1_000_000)
			return (count / 1_000_000D).ToString("0.#") + "M";
		if (count >= 1_000)
			return (count / 1_000D).ToString("0.#") + "K";
		return count.ToString();
	}

	string Color(string languageId)
	{
		var hash = languageId.Split("-").First().GetHashCode();
		var r = (hash & 0xFF0000) >> 16;
		var g = (hash & 0x00FF00) >> 8;
		var b = (hash & 0x0000FF);
		return $"rgb({r},{g},{b})";
	}
}
