@using Sparc.Blossom.Content
@using Tovik.Domains

<section class="tovik-card">
	<header>
		<h3>Pages Translated</h3>
		<UsageMeter Domain="Domain" />
	</header>
	<ul>
		@foreach (var webpage in Pages)
		{
			<li>
				<header translate="no">
					@webpage.Path
					<span>
						@Pretty(webpage.Visits.Sum(x => x.Value))
					</span>

				</header>
				<div class="meter-container" style="width: @FillPercentage(webpage)%">
					@foreach (var languageId in webpage.Visits.Keys.OrderByDescending(x => webpage.Visits[x]))
					{
						<div class="meter-fill"
							 title="@Title(webpage, languageId)"
							 style="width: @FillPercentage(webpage, languageId)%; background-color: @Color(languageId)">
							<span>@languageId</span>
						 </div>
					}
				</div>
			</li>
		}
	</ul>
</section>

@inject TovikDomains Domains
@code {
	[Parameter] public required SparcDomain Domain { get; set; }
	List<Page> Pages = [];

	protected override async Task OnParametersSetAsync()
	{
		Pages = await Domains.GetPages(Domain.Domain);
		Pages = Pages.OrderByDescending(x => x.Visits.Sum(y => y.Value)).ToList();
	}

	decimal FillPercentage(Page page)
	{
		if (Domain == null || Domain.TovikUsage == 0)
			return 0;

		var max = Pages.Max(x => x.Visits.Sum(y => y.Value));
		if (max == 0)
			return 0;

		return (decimal)page.Visits.Sum(x => x.Value) / max * 100;
	}

	decimal FillPercentage(Page page, string languageId)
	{
		if (Domain == null || Domain.TovikUsage == 0)
			return 0;

		var sum = page.Visits.Sum(x => x.Value);
		if (sum == 0)
			return 0;

		return (decimal)page.Visits[languageId] / sum * 100;
	}

	string Title(Page page, string languageId)
	{
		if (!page.Visits.ContainsKey(languageId))
			return "";

		var language = Language.Find(languageId);
		if (language == null)
			return $"{languageId}: {Pretty(page.Visits[languageId])} visits";
		return $"{language.NativeName}: {Pretty(page.Visits[languageId])} visits";
	}

	string Color(string languageId)
	{
		var hash = languageId.Split("-").First().GetHashCode();
		var r = (hash & 0xFF0000) >> 16;
		var g = (hash & 0x00FF00) >> 8;
		var b = (hash & 0x0000FF);
		return $"rgb({r},{g},{b})";
	}

	string Pretty(int count)
	{
		if (count >= 1_000_000_000)
			return (count / 1_000_000_000D).ToString("0.#") + "B";
		if (count >= 1_000_000)
			return (count / 1_000_000D).ToString("0.#") + "M";
		if (count >= 1_000)
			return (count / 1_000D).ToString("0.#") + "K";
		return count.ToString();
	}
}
