@page "/"
@page "/preview/{Url}"
@page "/preview"
@layout NewHomeLayout
@using Tovik.Domains
@using Tovik.Translation

<HeadContent>
    <script type="text/javascript">
        function initPreview(dotNet) {
            window.addEventListener('message', (event) => {
                if (event.data && event.data.startsWith && event.data.startsWith('tovik')) {
                    if (event.data.startsWith('tovik-url')) {
                        let url = event.data.replace('tovik-url:', '');
                        dotNet.invokeMethodAsync('UpdateUrl', url);
                    } else if (event.data.startsWith('tovik-translating')) {
                        dotNet.invokeMethodAsync('SetPreviewLoading', true);
                    } else if (event.data.startsWith('tovik-translated')) {
                        dotNet.invokeMethodAsync('SetPreviewLoading', false);
                    }
                }
            });
        }

        function changePreviewLanguage(iframe, lang) {
            iframe.contentWindow.postMessage('tovik-lang:' + lang);
        }
    </script>
</HeadContent>

<div class="home-container @(IsPreviewing ? "previewing" : "") @(PreviewFirst ? "preview-first" : "")">
    <div class="hero-background"><DashedLine Color="#FFD4BF" /></div>

    @if (IsACustomer)
    {
        <div class="is-a-customer">
            <a class="button secondary-btn" href="/sites">My Sites</a>
        </div>
    }

    <div class="iframe-container">
        <iframe srcdoc="@PreviewHtml" @ref=IFrame>
        </iframe>
        @if (IsPreviewing)
        {
            <aside>
                Note: This is a limited preview, so a few features might not work here. For the complete experience, 
                install Tovik on @PreviewUrl.
            </aside>
        }
    </div>

    @if (IsPreviewing)
    {
        <div class="fine-print">
            <img src="./images/SecondaryLogo.svg" />
            <header>
                <h2>
                    With Tovik, everyone can understand.
                </h2>
            </header>

            <div>
                <h3>Tovik gives @PreviewUrl a voice in 130 languages and 600 dialects:</h3>
                <Sparc.Blossom.Content.LanguageSelector IsLoading="IsPreviewLoading" WithButton=false Visible=true InitialLanguageId="@PreviewLang" OnLanguageChanged="UpdateLanguage" />
            </div>

            <button class="secondary-btn get-tovik" @onclick=Register>
                Get <img src="./images/TovikHorizontal.svg" />
            </button>
        </div>
    }

    <article>
        <div class="hero-background"><DashedLine Color="#FFD4BF" /></div>

        <section class="first">
            <div class="hero">
                <img src="/images/TovikChar.svg" alt="Tovik" />
                <h1>Your website speaks your language.</h1>
                <h2>Does it speak theirs?</h2>
                <form @onsubmit=GoToPreview>
                    <input type="text" placeholder="Enter your URL" @bind=Url required />
                    <button class="primary-btn">
                        Go &rarr;
                    </button>
                </form>
                @if (ErrorMessage != null)
                {
                    <span class="error-message">@ErrorMessage</span>
                }
                <p>
                    With Tovik, everyone can understand.
                </p>
            </div>
        </section>
    </article>
</div>

@inject ISparcAura Aura
@inject TovikCrawler Crawler
@inject TovikDomains Domains
@inject IJSRuntime Js
@inject ISparcBilling Billing
@inject Microsoft.Extensions.Configuration.IConfiguration Config

@code {
    [Parameter] public string? Url { get; set; }
    [Parameter][SupplyParameterFromQuery(Name = "l")] public string? PreviewLang { get; set; }
    [Parameter][SupplyParameterFromQuery(Name = "u")] public string? QueryUrl { get; set; }
    bool IsACustomer;
    bool IsPreviewing;
    bool IsPreviewLoading;
    bool PreviewFirst;
    string? PreviewHtml;
    string? PreviewUrl;
    string? ErrorMessage;
    string? PreviewLanguageName;
    ElementReference IFrame;
    GetProductResponse? Product;

    protected override async Task OnInitializedAsync()
    {
        var domains = await Domains.All();
        IsACustomer = domains.Any();
        PreviewFirst = !string.IsNullOrWhiteSpace(Url) || !string.IsNullOrWhiteSpace(QueryUrl);
        Product = await Billing.GetProductAsync(Config["ProductId"]!);
    }

    protected override async Task OnParametersSetAsync()
    {
        if (!string.IsNullOrWhiteSpace(Url) && Url != PreviewUrl)
        {
            PreviewUrl = Url;
            await PreviewSite();
        }
        else if (!string.IsNullOrWhiteSpace(QueryUrl) && QueryUrl != PreviewUrl)
        {
            Url = QueryUrl;
            PreviewUrl = Url;
            await PreviewSite();
        }
        else
        {
            Url = null;
            PreviewUrl = null;
            IsPreviewing = false;
            PreviewHtml = null;
            ErrorMessage = null;    
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await Js.InvokeVoidAsync("initPreview", DotNetObjectReference.Create(this));
    }

    [JSInvokable]
    public async Task UpdateUrl(string url)
    {
        if (url != Url)
        {
            Url = url;
            PreviewHtml = await Crawler.PreviewAsync(Url, PreviewLang);
            StateHasChanged();
        }
    }

    [JSInvokable]
    public void SetPreviewLoading(bool isLoading)
    {
        IsPreviewLoading = isLoading;
        StateHasChanged();
    }

    void GoToPreview()
    {
        Nav.NavigateTo($"/preview?u={Url}", PreviewUrl != null);
    }

    async Task PreviewSite()
    {
        if (Url == null)
            return;

        ErrorMessage = null;
        PreviewHtml = null;
        if (string.IsNullOrWhiteSpace(PreviewLang))
            PreviewLang = Sparc.Blossom.Content.Language.Random.Id;

        var domain = await Domains.Verify(Url);
        if (domain != null && !domain.IsBlocked)
        {
            PreviewLanguageName = Sparc.Blossom.Content.Language.Find(PreviewLang)?.LanguageDisplayName;
            IsPreviewing = true;
        }
        else
        {
            ErrorMessage = domain?.IsBlocked == true ? "This domain is not compatible with Tovik." : "Please enter a valid URL.";
        }
    }

    async Task UpdateLanguage(Sparc.Blossom.Content.Language lang)
    {
        ErrorMessage = null;
        PreviewLang = lang.Id;
        PreviewLanguageName = Sparc.Blossom.Content.Language.Find(PreviewLang)?.LanguageDisplayName;
        try
        {
            if (PreviewHtml == null)
            {
                PreviewHtml = await Crawler.PreviewAsync(Url!, PreviewLang);
                StateHasChanged();
            }
            else
            {
                await Js.InvokeVoidAsync("changePreviewLanguage", IFrame, PreviewLang);
            }
        }
        catch (Exception e)
        {
            IsPreviewing = false;
            ErrorMessage = e.Message;
            StateHasChanged();
        }
    }

    private async Task Register()
    {
        if (string.IsNullOrWhiteSpace(PreviewUrl))
            return;

        try
        {
            var newDomain = await Domains.RegisterAsync(PreviewUrl);
            Nav.NavigateTo($"/sites/{newDomain.Id}");
        }
        catch (Exception ex)
        {
            ErrorMessage = ex.Message;
            PreviewUrl = "";
        }
    }

    void Home()
    {
        IsPreviewing = false;
        PreviewHtml = null;
    }
}
