@page "/pricing"
@layout ModalLayout
@using Sparc.Blossom.Realtime
@using Tovik.Domains


<article>
    <header>
        @if (CurrentTier == null)
        {
            <h1>
                Introducing Tovik
            </h1>
        }
        else
        {
            <h1>Upgrade Tovik</h1>
        }
        <p>Tovik is a website plugin that makes it easy to translate your website into multiple languages, so you can reach a global audience without the hassle of managing translations manually.</p>
        @if (User != null)
        {
            <div class="currency">
                See pricing in your preferred currency:
                <CurrencySelector Avatar="User.Avatar" />
            </div>
        }

    </header>

    @if (Product != null)
    {
        <section>
            @foreach (var tier in Product.Tiers)
            {
                <div>
                    <header>
                        <h2>
                            @if (tier.Name != "Free")
                            {
                                <img src="./icons/Premium.svg" alt="@tier.Name" />
                            }
                            @tier.Name
                        </h2>
                        <p>@tier.Description</p>
                        <h3>
                            @tier.FormattedPrice
                            @if (tier.Name != "Free")
                            {
                                <strong>/ one time</strong>
                            }
                        </h3>
                    </header>
                    @if (CurrentTier == tier.Name)
                    {
                        <a class="button secondary-btn" href="/sites" disabled>Current Plan</a>
                    }
                    else if (tier.Name == "Free")
                    {
                        <a class="button primary-btn" href="/Install?domain=@Domain">Install Now</a>
                    }
                    else
                    {
                        <a class="button primary-btn" href="/Purchase/@tier.Name?domain=@Domain">Purchase Now</a>
                    }
                    <ul>
                        <li>
                            <strong>For domains up to @tier.ItemQuantity.ToString("N0") pages</strong>
                        </li>
                        <li>
                            Unlimited visitors &amp; page visits
                        </li>
                        <li>
                            @Sparc.Blossom.Content.Language.LanguageCount languages &amp; @Sparc.Blossom.Content.Language.Count dialects
                        </li>
                        <li>
                            Unlimited translations
                        </li>
                    </ul>
                </div>
            }
        </section>
    }

    <footer>
        <h4>Tovik is ethically priced, with no monthly subscriptions.</h4>
        <p>
            Yes, really. We believe it's time for software to be subscription-free again.
        </p>
    </footer>
</article>


@inject ISparcBilling Billing
@inject ISparcAura Aura
@inject TovikDomains Domains
@inject SparcEvents Events

@code {
    [Parameter] public EventCallback OnClick { get; set; }
    [Parameter][SupplyParameterFromQuery] public required string Domain { get; set; }
    SparcProduct? Product;
    BlossomUser? User;
    SparcDomain? SparcDomain;
    string? CurrentTier;

    protected override async Task OnInitializedAsync()
    {
        SparcDomain = await Domains.Verify(Domain);
        CurrentTier = SparcDomain?.Product("Tovik")?.TierId;

        Events.CurrencyChanged += OnCurrencyChanged;
        User = await Aura.UserInfo();
        await OnCurrencyChanged(User.Avatar.Currency);
    }

    async Task OnCurrencyChanged(SparcCurrency? currency)
    {
        Product = await Billing.GetProductAsync("Tovik", currency?.Id);
        StateHasChanged();
    }

    ProductTier? Tiers(string tierName) => Product?.Tiers.FirstOrDefault(t => t.Name == tierName);
}