@page "/pricing"
@page "/sites/{Id}/purchase"
@using Sparc.Blossom.Realtime
@using Tovik.Domains

<article>
    <header class="infopage">
        @if (SparcDomain?.DateConnected != null)
        {
            <h1>Upgrade Your Domain</h1>
            <p>Choose from the packs below to permanently add additional translatable pages to your domain.</p>
        }
        else
        {
            <h1>Tovik Pricing</h1>
            <p>Translate your website effortlessly. Choose the right plan for your domain.</p>
        }

        <div class="options">
            @if (User != null)
            {
                <div>
                    Select your currency
                    <CurrencySelector Avatar="User.Avatar" />
                </div>
            }
            @if (AllDomains.Count > 0)
            {
                <div>
                    Select your domain
                    <div class="domain-selector">
                        <select @bind="@Domain" @bind:after="OnDomainChanged">
                            <option value="">-- Choose your domain --</option>
                            @foreach (var domain in AllDomains.OrderBy(x => x.Domain))
                            {
                                <option value="@domain.Id">
                                    @domain.Domain
                                </option>
                            }
                        </select>
                    </div>
                </div>
            }
        </div>
    </header>

    @if (Product != null)
    {
        <section class="@(SparcDomain?.DateConnected == null ? "new" : "existing")">
            @foreach (var tier in Product.Tiers)
            {
                var index = Product.Tiers.IndexOf(tier);
                if (index == 0 && SparcDomain?.DateConnected != null)
                {
                    // Don't show the free tier if the user is already on a paid plan
                    continue;
                }

                <div>
                    <header>
                        <h2>
                            @if (index > 0)
                            {
                                <img src="/icons/Tier@(index).svg" alt="@tier.Name" />
                            }
                            @tier.Name
                        </h2>
                        <p>@tier.Description</p>
                        <h3>
                            @tier.FormattedPrice
                            @if (index > 0)
                            {
                                <strong>/ one time</strong>
                            }
                        </h3>
                    </header>
                    @if (index == 0 && SparcDomain?.DateConnected != null)
                    {
                        <a class="button secondary-btn" href="/sites" disabled>Current Plan</a>
                    }
                    else if (index == 0 && SparcDomain == null)
                    {
                        <a class="button primary-btn" href="/">Get Started</a>
                    }
                    else if (index == 0 && SparcDomain != null && SparcDomain.DateConnected == null)
                    {
                        <a class="button primary-btn" href="/sites/@(SparcDomain.Id)/activate">Get Started</a>
                    }
                    else if (index > 0 && SparcDomain != null)
                    {
                        <a class="button primary-btn" href="/sites/@(SparcDomain.Id)/purchase/@(tier.Name)">Purchase Now</a>
                    }
                    else
                    {
                        <a class="button secondary-btn" href="/sites" disabled>Select a domain</a>
                    }
                    <ul>
                        @if (SparcDomain?.DateConnected == null)
                        {
                            <li>
                                <strong>For domains up to @tier.ItemQuantity.ToString("N0") pages</strong>
                            </li>
                        }
                        else
                        {
                            <li>
                                <strong>Increases translation limit by @tier.ItemQuantity.ToString("N0") pages</strong>
                            </li>
                        }
                        <li>
                            Unlimited visitors &amp; page visits
                        </li>
                        <li>
                            @Sparc.Blossom.Content.Language.LanguageCount languages &amp; @Sparc.Blossom.Content.Language.Count dialects
                        </li>
                        <li>
                            Unlimited translations
                        </li>
                    </ul>
                </div>
            }
        </section>
    }

    <footer>
        <h4>Tovik is ethically priced, with no monthly subscriptions.</h4>
        <p>
            Yes, really. We believe it's time for software to be subscription-free again.
        </p>
    </footer>
</article>


@inject ISparcBilling Billing
@inject ISparcAura Aura
@inject TovikDomains Domains
@inject SparcEvents Events

@code {
    [Parameter] public EventCallback OnClick { get; set; }
    [Parameter] public string? Id { get; set; }
    SparcProduct? Product;
    BlossomUser? User;
    SparcDomain? SparcDomain;
    string? Domain;
    List<SparcDomain> AllDomains = [];

    protected override async Task OnInitializedAsync()
    {
        if (Id != null)
        {
            SparcDomain = await Domains.Get(Id);
            Domain = SparcDomain?.Id;
        }

        AllDomains = await Domains.All();

        Events.CurrencyChanged += OnCurrencyChanged;
        User = await Aura.UserInfo();
        await OnCurrencyChanged(User.Avatar.Currency);
    }

    async Task OnCurrencyChanged(SparcCurrency? currency)
    {
        Product = await Billing.GetProductAsync("Tovik", currency?.Id);
        StateHasChanged();
    }

    ProductTier? Tiers(string tierName) => Product?.Tiers.FirstOrDefault(t => t.Name == tierName);
    private async Task OnDomainChanged()
    {
        SparcDomain = AllDomains.FirstOrDefault(x => x.Id == Domain);
    }
}