<section class="faq">
	<dl>
		@foreach (var question in FAQ.Take(Limit))
		{
			<div @onclick="@(() => Select(question.Key))" class="@(question.Key == SelectedQuestion ? "selected" : "")">
				<span>@( question.Key == SelectedQuestion ? "-" : "+")</span>
				<dt>
					@question.Key
				</dt>
				<dd>@((MarkupString)question.Value)</dd>
			</div>
		}
	</dl>

	<footer>
		@if (!IsExpanded)
		{
			<button class="secondary-btn" @onclick=Expand>View More</button>
		}
		Have additional questions?  <a href="mailto:support@sparc.coop">support@sparc.coop</a>
	</footer>
</section>

@inject ISparcBilling Billing
@inject ISparcAura Aura
@inject Microsoft.Extensions.Configuration.IConfiguration Config
@code {
	bool IsExpanded = true;
	void Expand() => IsExpanded = true;
	string? SelectedQuestion = "What is Tovik?";
	int Limit => IsExpanded ? FAQ.Count : 5;
	
	void Select(string question)
	{
		if (SelectedQuestion == question)
			SelectedQuestion = null;
		else
			SelectedQuestion = question;
	}

	Dictionary<string, string> FAQ = new()
	{
		{ "What is Tovik?", $"Tovik is a website plugin that instantly translates your website into {Sparc.Blossom.Content.Language.LanguageCount} languages and {Sparc.Blossom.Content.Language.Count} dialects with a simple one-time installation." },
		{ "Why Tovik?", "Most tools expect your visitors to install their own translation plugin just to browse sites in other languages. Tovik thinks differently. Once you still Tovik on your site, it handles translation automatically for all of your visitors, and your entire site will be browsable in their native language, with zero work required on their part or yours." },
		{ "How does Tovik work?", "Tovik detects each visitor’s preferred language using their browser settings. When their language doesn’t match your site’s language, Tovik kicks in and translates every content element on the page into their native language. Results are nearly instantaneous, and translations are securely cached for future users that visit the same page in the same language and dialect." },
		{ "Will Tovik work with my site?", "If your site uses a standard CMS (like WordPress or Wix), or you can add custom HTML (like a Google Analytics tag), you’re good to go. Tovik works with WordPress, Wix, Webflow, Weebly, SquareSpace, Shopify, and pretty much anything else." },
		{ "How do I install Tovik?", "Simply download and install the Tovik plugin for your website's platform, or you can copy a single line of HTML into your website. It takes just a couple of minutes! Installation instructions are on each domain page if the domain has not yet been activated." },
		{ "What does Tovik include?", "Tovik's Free edition includes up to 10 pages per domain. If you need more pages translated, you can purchase the Personal Edition which includes up to 100 pages, or the Premium edition which includes up to 1,000 pages. Tovik comes with unlimited page views, unlimited languages, and unlimited bandwidth, and does not require a monthly subscription." },
		{ "There’s really no subscription fee?", "Nope! Tovik is a one-time purchase. We are proud to have created a translation engine that requires no subscriptions or recurring charges." },
		{ "How many languages will Tovik translate my website to?", "Tovik speaks over 130 languages, and over 600 dialects of those languages. This covers most of the world’s major languages and regions." },
		{ "Can I use Tovik on multiple domains?", "Yes, for aliases of your purchased domain. Non-aliased domains will require a separate purchase." },
		{ "What if I have more than my plan's pages of content?", "It's no problem! We track usage to ensure everyone is using Tovik fairly. We’ll reach out if needed, but we’ll never stop your service without getting in touch." },
		{ "Do you track user or visitor data?", "Nope! We only keep track of how many pages you’ve translated. Your visitors’ data stays private in their browser and we never use, track, or store their data." },
		{ "Can I get a refund if Tovik doesn't work for my site?", "Absolutely. Send us an email at <a href=\"mailto:support@sparc.coop\">support@sparc.coop</a> and we’ll refund your purchase right away." },
		{ "How do I get support?", "You can always email us at <a href=\"mailto:support@sparc.coop\">support@sparc.coop</a>. We’re here to help with anything you may need." }
	};
}