@page "/"
@layout NewHomeLayout
@using Tovik.Domains
@using Tovik.Translation

<HeadContent>
    <script type="text/javascript">
        function initPreview(dotNet) {
            window.addEventListener('message', (event) => {
                dotNet.invokeMethodAsync('UpdateUrl', event.data);
            });
        }

        function changePreviewLanguage(iframe, lang) {
            iframe.contentWindow.postMessage('tovik-lang:' + lang);
        }
    </script>
</HeadContent>

<div class="home-container @(IsPreviewing ? "previewing" : "") @(PreviewFirst ? "preview-first" : "")">
    <iframe srcdoc="@PreviewHtml" @ref=IFrame>
    </iframe>

    @if (IsPreviewing)
    {
        <Sparc.Blossom.Content.LanguageSelector WithButton=true Visible=true InitialLanguageId="@PreviewLang" OnLanguageChanged="UpdateLanguage" />
    }

    <article>
        <div class="hero-background"><DashedLine Color="#FFD4BF" /></div>
        <header>
            <button @onclick=Home>
                <img src="/images/TovikWordmark.svg" alt="Tovik" />
            </button>

            <div class="buttons">
                @if (!IsPreviewing)
                {
                    <Sparc.Blossom.Content.LanguageSelector WithButton=true />
                }
                else
                {
                    <button class="secondary-btn" @onclick=Home>Learn More</button>
                }
                @if (false && IsACustomer)
                {
                    <a class="button primary-btn" href="/sites">My Sites</a>
                }
                else
                {
                    <a class="button primary-btn mobile-only" href="/purchase">
                        <BuyIcon />
                    </a>
                    <a class="button primary-btn desktop-only" href="/purchase">Get Tovik</a>
                }
            </div>
        </header>

        <section>
            <img src="/images/TovikChar.svg" alt="Tovik" />
            <h1>Speaking your website visitors' language isn't optional anymore.</h1>
            <p>
                Tovik is a multilingual plugin that quietly translates your site into their native language, without relying on them to bring their own translator.
            </p>
            <form @onsubmit=GoToPreview>
                <input type="text" placeholder="Enter your website's URL" @bind=Url required />
                <button class="primary-btn">Try Yourself</button>
            </form>
            @if (ErrorMessage != null)
            {
                <span class="error-message">@ErrorMessage</span>
            }
        </section>

        <div class="two">
            <section>
                <header>
                    <img src="/images/Star.svg" alt="Star" />
                    <h2>600+ Dialects Supported</h2>
                </header>
                <p>Because every region, every voice, and every nuance deserves to be understood on its own terms.</p>
            </section>
            <section>
                <header>
                    <img src="/images/Star.svg" alt="Star" />
                    <h2>Built for Creators, Not Coders</h2>
                </header>
                <p>Tovik installs with a single line of code or a simple plugin installation, zero setup required.</p>
            </section>
            <section>
                <header>
                    <img src="/images/Star.svg" alt="Star" />
                    <h2>We Don't Track Anyone</h2>
                </header>
                <p>No cookies, no fingerprints, no surveillance, no data harvesting. Just simple, respectful translation.</p>
            </section>
            <section>
                <header>
                    <img src="/images/Star.svg" alt="Star" />
                    <h2>Works On Any Website</h2>
                </header>
                <p>
                    Built for
                    <a href="/install/WordPress">WordPress</a>,
                    <a href="/install/Wix">Wix</a>,
                    <a href="/install/Webflow">Webflow</a>,
                    <a href="/install/Weebly">Weebly</a>,
                    <a href="/install/SquareSpace">SquareSpace</a>,
                    <a href="/install/Shopify">Shopify</a>,
                    and we have an
                    <a href="/install/HTML">HTML script tag</a>
                    for the rest.
                </p>
            </section>
        </div>

        <Tovik.Installation.Pricing />
    </article>
</div>

@inject ISparcAura Aura
@inject TovikCrawler Crawler
@inject TovikDomains Domains
@inject IJSRuntime Js
@code {
    [Parameter][SupplyParameterFromQuery] public string? Url { get; set; }
    [Parameter][SupplyParameterFromQuery] public string? PreviewLang { get; set; }
    BlossomAvatar? Avatar;
    bool IsACustomer;
    bool IsPreviewing;
    bool PreviewFirst;
    string? PreviewHtml;
    string? PreviewUrl;
    string? ErrorMessage;
    ElementReference IFrame;

    protected override async Task OnInitializedAsync()
    {
        var user = await Aura.UserInfo();
        IsACustomer = user.HasProduct("Tovik");
        Avatar = user.Avatar;
        PreviewFirst = !string.IsNullOrWhiteSpace(Url);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await Js.InvokeVoidAsync("initPreview", DotNetObjectReference.Create(this));
    }

    [JSInvokable]
    public async Task UpdateUrl(string url)
    {
        if (url != Url)
        {
            Url = url;
            PreviewHtml = await Crawler.PreviewAsync(Url, PreviewLang);
            StateHasChanged();
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        if (!string.IsNullOrWhiteSpace(Url) && Url != PreviewUrl)
        {
            PreviewUrl = Url;
            await PreviewSite();
        }
    }

    void GoToPreview()
    {
        Nav.NavigateTo($"/?url={Url}");
    }

    async Task PreviewSite()
    {
        ErrorMessage = null;
        PreviewHtml = null;

        var domain = await Domains.Verify(Url);
        if (domain != null)
        {
            var mostTranslatedLang = domain.PagesPerLanguage
                .Where(x => Sparc.Blossom.Content.Language.All.Any(y => y.Id == x.Key))
                .OrderByDescending(x => x.Value)
                .Select(x => x.Key)
                .FirstOrDefault();

            PreviewLang = mostTranslatedLang
                ?? Sparc.Blossom.Content.Language.All.OrderBy(x => Guid.NewGuid()).First().Id;

            IsPreviewing = true;
        }
        else
        {
            ErrorMessage = "Please enter a valid URL.";
        }
    }

    async Task UpdateLanguage(Sparc.Blossom.Content.Language lang)
    {
        PreviewLang = lang.Id;
        if (PreviewHtml == null)
        {
            PreviewHtml = await Crawler.PreviewAsync(Url, PreviewLang);
            StateHasChanged();
        }
        else
        {
            await Js.InvokeVoidAsync("changePreviewLanguage", IFrame, PreviewLang);
        }
    }

    void Home()
    {
        IsPreviewing = false;
    }
}
