<div class="usage-meter">
    <header>
        <span>@Edition Edition</span>
        <div>
            <span>@Usage.ToString("N0")</span>
            /
            <span>@Limit.ToString("N0") @Unit</span>
            @if (Edition == "Preview")
            {
                <a href="@($"/sites/{Domain.Id}/activate")">
                    Activate
                    <img src="icons/ChevronRightOrange.svg" alt="Activate this Domain" />
                </a>
            }
            else if (FillPercentage > 70)
            {
                <a href="@($"/sites/{Domain.Id}/purchase")">
                    Add @Unit
                    <img src="icons/ChevronRightOrange.svg" alt="Add @Unit to this Domain" />
                </a>
            }
        </div>
    </header>
    <div class="meter-container">
        <div class="meter-fill" style="width: @FillPercentage%"></div>
    </div>
</div>

@code {
    [Parameter] public required SparcDomain Domain { get; set; }
    [Parameter] public string Mode { get; set; } = "";
    string Edition => License?.TierId ?? "Preview";

    int Limit => Mode == "API" ? License?.MaxUsage * 1000 ?? 1000 : License?.MaxUsage ?? 1;
    int Usage => Mode == "API" ? Domain.TovikApiUsage : Domain.TovikUsage;
    int Remaining => Limit - Usage;
    int FillPercentage => Limit > 0 ? (int)((double)Usage / Limit * 100) : 0;
    string Unit => Mode == "API" ? "Words" : "Pages";
    SparcLicense? License => Domain.Product("Tovik");
}