@page "/sites/{Id}"
@using Sparc.Blossom.Content
@using Tovik.Domains
@using Tovik.Installation
@layout MainLayout

<PageTitle>Tovik | @(Domain != null ? Domain.Domain : "Your Domain")</PageTitle>
<HeadContent>
    <!-- Event snippet for Domain Added conversion page -->
    <script>
        gtag('event', 'conversion', {'send_to': 'AW-11084766602/LSImCPXjhYQbEIq70KUp'});
    </script>
    <script src="https://js.stripe.com/v3"></script>
</HeadContent>

<article class="domain-page">
    @if (Domain != null)
    {
        <div class="page-container">
            @if (Domain.DateConnected == null)
            {
                <Tovik.Installation.Install Domain="Domain" />
                <DomainCard Domain="Domain" PageType="Page" Languages="Languages" />
            }
            else
            {
                <DomainCard Domain="Domain" PageType="Page" Languages="Languages" OnUpgrade="Upgrade" />
            }

            <section class="domain-summary">
                <header>
                    <h3>Pages Translated</h3>
                    <UsageMeter Usage="Usage" Limit="Limit" />
                </header>
                <div>
                    @foreach (var webpage in Pages)
                    {
                        <div class="page">
                            <header translate="no">
                                @webpage.Path
                            </header>
                            <ul>
                                @foreach (var language in webpage.TovikUsage.Keys.OrderByDescending(x => webpage.TovikUsage[x]))
                                {
                                    <li title="@Language(language)?.NativeName (@Language(language)?.DisplayName)" style="width: @FillPercentage(webpage, language)%">
                                        <a href="@webpage.AbsolutePath(language)" target="_blank">
                                            <span class="language-id">@Language(language)?.NativeName</span>
                                            <span class="count">@Pretty(webpage.TovikUsage[language])</span>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    }

                    @if (!Pages.Any())
                    {
                        <aside>Nothing to see here yet!</aside>
                    }
                </div>
            </section>


            <section class="domain-summary">
                <header>
                    <h3>Languages Translated</h3>
                </header>
                <div>
                    @foreach (var language in LanguageStats.OrderByDescending(x => x.Value))
                    {
                        <div class="language">
                            <header>
                                @language.Key.NativeName (@language.Key.DisplayName)
                            </header>
                            <div class="meter-container">
                                <div class="meter-fill" style="width: @FillPercentage(language.Key)%"></div>
                            </div>
                        </div>
                    }
                    @if (!LanguageStats.Any())
                    {
                        <aside>Nothing to see here yet!</aside>
                    }
                </div>
                <div class="preview">
                    <h3>Preview @Domain.Domain in other languages:</h3>
                    <div>
                        <LanguageSelector OnLanguageChanged="UpdatePreviewLanguage" />
                        <button class="secondary-btn" @onclick=Preview>Preview</button>
                    </div>
                </div>

            </section>

            <section class="add-exemption exemptions">
                <header>
                    <h3>Add Exempt Words or Phrases</h3>
                    <p class="subheader">Do you have any words or phrases on this website that you would like Tovik to ignore? Add them here!</p>
                </header>

                @if (Domain.Exemptions.Any())
                {
                    <table class="exempt-table">
                        <thead>
                            <tr>
                                <td>Word or Phrase</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var word in Domain.Exemptions)
                            {
                                <tr>
                                    <td>@word</td>
                                    <td>
                                        <div class="exempt-actions">
                                            <button class="delete-exempt-btn secondary-btn" @onclick="(() => DeleteExemption(word))"><TrashIcon /></button>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }

                <div>
                    <input type="text" @bind=Exemption placeholder="Enter a word or phrase..." />
                    <button class="add-btn secondary-btn" @onclick=AddExemption>Add</button>
                </div>
            </section>
        </div>
    }
</article>

@inject TovikDomains TovikDomains
@inject ITovik Tovik
@code {
    [Parameter] public required string Id { get; set; }
    [Parameter][SupplyParameterFromQuery] public string? PaymentIntentId { get; set; }

    SparcDomain? Domain;
    List<Page> Pages = [];
    IEnumerable<Language> Languages = [];
    Dictionary<Language, int> LanguageStats = [];
    string Exemption = "";
    string? PreviewLanguage;
    int Limit;
    int Usage;
    bool IsSidebarOpen = false;
    bool IsPurchaseSidebarInitialized;
    void ToggleSidebar() => IsSidebarOpen = !IsSidebarOpen;

    protected override async Task OnParametersSetAsync()
    {
        Domain = await TovikDomains.Get(Id);
        Languages = await Tovik.GetLanguages();
        if (Domain != null)
            Pages = await TovikDomains.GetPages(Domain.Domain);

        LanguageStats = Pages
            .SelectMany(x => x.TovikUsage)
            .GroupBy(x => Language(x.Key)!)
            .ToDictionary(g => g.Key, g => g.Sum(x => x.Value));

        Usage = Pages.Count;
        Limit = Domain?.Product("Tovik")?.MaxUsage ?? 10;

        if (PaymentIntentId != null)
            Upgrade();
    }

    void Upgrade()
    {
        IsPurchaseSidebarInitialized = true;
        IsSidebarOpen = true;
    }

    Language? Language(string id) => Languages.FirstOrDefault(x => x.Matches(id));

    decimal FillPercentage(Page page, string language)
    {
        if (page == null || page.TovikUsage == null || page.TovikUsage.Count == 0)
            return 0;

        var max = page.TovikUsage.Values.Max();

        if (max == 0)
            return 0;

        if (page.TovikUsage.TryGetValue(language, out var usage))
            return (decimal)usage / max * 100;

        return 0;
    }

    decimal FillPercentage(Language language)
    {
        if (Domain == null || Domain.TovikUsage == 0)
            return 0;

        var max = LanguageStats.Values.Max();
        if (max == 0)
            return 0;

        if (LanguageStats.TryGetValue(language, out var usage))
            return (decimal)usage / max * 100;

        return 0;
    }

    void UpdatePreviewLanguage(Language language) => PreviewLanguage = language.Id;
    async Task Preview()
    {
        if (Domain?.DateConnected != null && !string.IsNullOrWhiteSpace(PreviewLanguage))
        {
            var url = Domain.ToUri().ToString() + "?lang=" + PreviewLanguage;
            await Js.InvokeVoidAsync("open", url, "_blank");
        }
        else if (Domain != null)
        {
            var url = Nav.BaseUri + "preview?u=" + Domain?.Domain + "&l=" + PreviewLanguage;
            await Js.InvokeVoidAsync("open", url, "_blank");
        }
    }

    async Task AddExemption()
    {
        if (Domain != null && !string.IsNullOrWhiteSpace(Exemption))
        {
            Domain.Exemptions.Add(Exemption);
            await TovikDomains.Update(Domain);
            Exemption = string.Empty; // Clear the input after adding
        }
    }

    async Task DeleteExemption(string word)
    {
        if (Domain != null && Domain.Exemptions.Contains(word))
        {
            Domain.Exemptions.Remove(word);
            await TovikDomains.Update(Domain);
        }
    }

    private void NavBack()
    {
        Js.InvokeVoidAsync("goBack");
    }

    private string Pretty(int count)
    {
        if (count >= 1_000_000_000)
            return (count / 1_000_000_000D).ToString("0.#") + "B";
        if (count >= 1_000_000)
            return (count / 1_000_000D).ToString("0.#") + "M";
        if (count >= 1_000)
            return (count / 1_000D).ToString("0.#") + "K";
        return count.ToString();
    }
}