@using Sparc.Blossom.Content

<article>
    <header>
        <img src="@Domain.FaviconUri" alt="@Domain.Domain" onerror="this.src='/images/Star.svg'" />
        <h2>
            @Domain.Domain
        </h2>
    </header>

    <Tovik.Domains.Settings.UsageMeter Domain="Domain" />

    @if (Edition == "Preview")
    {
        <footer>
            <a href="@($"/sites/{Domain.Id}/license")" class="button secondary-btn">Manage License</a>
            <a href="@($"/sites/{Domain.Id}/preview")" class="button">Preview</a>
        </footer>
    }
    else
    {
        <footer>
            <a href="@($"/sites/{Domain.Id}/license")" class="button secondary-btn">Manage License</a>
            <a href="@($"/sites/{Domain.Id}/settings")" class="button">Translation Settings</a>
        </footer>
    }
</article>

<DeleteModal Domain=Domain ShowModal=showDeleteModal OnClose=ToggleDeleteModal OnDelete="DeleteDomain" />

@inject Tovik.Domains.TovikDomains TovikDomains 
@code {
    [Parameter] public required SparcDomain Domain { get; set; }
    [Parameter] public required IEnumerable<Language> Languages { get; set; }
    [Parameter] public string? PageType { get; set; }
    [Parameter] public EventCallback OnUpgrade { get; set; }
    string? ErrorMessage;
    bool IsSidebarOpen = false;
    SparcLicense? License => Domain.Product("Tovik");
    string Edition => Domain.Product("Tovik")?.TierId ?? "Preview";

    bool showDeleteModal = false;

    Language? Language(string id) => Languages.FirstOrDefault(x => x.Matches(id));
    async Task Upgrade()
    {
        await OnUpgrade.InvokeAsync();
    }

    void ToggleSidebar()
    {
        IsSidebarOpen = !IsSidebarOpen;
    }

    private void ToggleDeleteModal()
    {
        showDeleteModal = !showDeleteModal;
    }

    async Task Verify()
    {
        var result = await Domain.VerifyAsync();
        if (result)
        {
            await TovikDomains.Update(Domain);
            ErrorMessage = null;
        }
        else
        {
            ErrorMessage = $"{Domain.Domain} does not contain the expected Tovik script: https://tovik.app/tovik.js. Please ensure Tovik is installed correctly on this domain.";
        }
    }

    private async Task DeleteDomain(string id)
    {
        await TovikDomains.DeleteAsync(Domain);
        Nav.NavigateTo("/sites", true);
    }
}