@using Sparc.Blossom.Content

<div id="@Domain.Id" class="domain-card @("domain-card__" + PageType)">
    <header>
        <img src="@Domain.FaviconUri" alt="@Domain.Domain" onerror="this.src='/images/Star.svg'" />
        <h2>
            @Domain.Domain
            @if (Domain.DateConnected != null)
            {
                <VerifiedIcon />
            }
        </h2>

        <dl>
            <dt>Edition:</dt>
            <dd>@(License?.TierId) (up to @License?.MaxUsage pages)</dd>
            <dt>Date Activated:</dt>
            <dd class="@(Domain.DateConnected == null ? "no" : "")">@(Domain.DateConnected != null ? Domain.DateConnected.Value.ToShortDateString() : "Not Yet Activated")</dd>
            <dt>Last Translation Activity:</dt>
            <dd class="@(Domain.LastTranslatedDate == null ? "no" : "")">@(Domain.LastTranslatedDate == null ? "Never" : Domain.LastTranslatedDate.Value.ToShortDateString())</dd>
        </dl>

        @if (License != null && License.TierId != "Premium" && OnUpgrade.HasDelegate)
        {
            <a class="button primary-btn" href="/Pricing?domain=@Domain.Domain">Upgrade Tovik</a>
        }
    </header>

    @if (PageType == "home")
    {
        <ul class="languages">
            @foreach (var language in Domain.PagesPerLanguage)
            {
                <li>@Language(language.Key)?.NativeName</li>
            }
        </ul>
    }
    else
    {
        @if (!string.IsNullOrEmpty(ErrorMessage))
        {
            <p class="error-message">@ErrorMessage</p>
        }
    }

    <footer>
        <ul>
            <li>
                <PageIcon />
                Pages Translated
                <span>@Domain.TovikUsage.ToString("N0") / @Domain.Product("Tovik")?.MaxUsage</span>
            </li>
            <li>
                <LanguageIcon />
                Languages Translated
                <span>@Domain.PagesPerLanguage.Count / unlimited</span>
            </li>
        </ul>

        @if (PageType == "home")
        {
            <button class="actions-btn" data-id="@Domain.Id" @onclick='() => Nav.NavigateTo($"/sites/{Domain.Id}")'>Manage</button>
        }
        else
        {
            <button @onclick="ToggleDeleteModal" class="delete-btn secondary-btn"><TrashIcon /></button>
        }
    </footer>
</div>

<DeleteModal Domain=Domain ShowModal=showDeleteModal OnClose=ToggleDeleteModal OnDelete="DeleteDomain" />

@inject Tovik.Domains.TovikDomains TovikDomains
@code {
    [Parameter] public required SparcDomain Domain { get; set; }
    [Parameter] public required IEnumerable<Language> Languages { get; set; }
    [Parameter] public string? PageType { get; set; }
    [Parameter] public EventCallback OnUpgrade { get; set; }
    string? ErrorMessage;
    bool IsSidebarOpen = false;
    SparcLicense? License => Domain.Product("Tovik");

    bool showDeleteModal = false;

    Language? Language(string id) => Languages.FirstOrDefault(x => x.Matches(id));
    async Task Upgrade()
    {
        await OnUpgrade.InvokeAsync();
    }

    void ToggleSidebar()
    {
        IsSidebarOpen = !IsSidebarOpen;
    }

    private void ToggleDeleteModal()
    {
        showDeleteModal = !showDeleteModal;
    }

    async Task Verify()
    {
        var result = await Domain.VerifyAsync();
        if (result)
        {
            await TovikDomains.Update(Domain);
            ErrorMessage = null;
        }
        else
        {
            ErrorMessage = $"{Domain.Domain} does not contain the expected Tovik script: https://tovik.app/tovik.js. Please ensure Tovik is installed correctly on this domain.";
        }
    }

    private async Task DeleteDomain(string id)
    {
        await TovikDomains.DeleteAsync(Domain);
        Nav.NavigateTo("/sites", true);
    }
}