@page "/sites/{Id}"
@using Tovik.Domains.Settings

<article>
    @if (Domain != null)
    {
        <a class="back" href="/sites">
            <img src="/icons/ChevronLeft.svg" alt="Back" />
            Back to My Sites
        </a>

        <header class="subpage">
            <div>
                <h1>Manage @Domain.Domain</h1>
                <p>Manage domain details and active languages for your domain.</p>
            </div>
            <div class="buttons">
                @if (Domain.DateConnected == null)
                {
                    <div class="toggle-label inactive" title="Install Tovik on your site to enable it">
                        Inactive
                        <label class="toggle">
                            <input type="checkbox" disabled />
                            <span class="slider"></span>
                        </label>
                    </div>
                    <a href="/sites/@(Id)/preview" class="button secondary-btn">
                        Preview
                    </a>
                }
                else
                {
                    <div class="toggle-label @(Domain.IsActive ? "active" : "inactive")">
                        @(Domain.IsActive ? "Active" : "Inactive")
                        <label class="toggle">
                            <input type="checkbox" checked="@Domain.IsActive" @onchange="ToggleDomain" />
                            <span class="slider"></span>
                        </label>
                    </div>
                    <a href="/sites/@(Id)/preview" class="button secondary-btn">
                        Translation Settings
                    </a>
                }
            </div>
        </header>

        <section class="icon-header with-buttons">
            <header>
                <img src="/icons/SiteOverview.svg" alt="Site Overview" />
                <div>
                    <h3>Site Overview</h3>
                    <p>Overview of your site's settings and configurations.</p>
                </div>
                <div class="buttons">
                    @if (Domain.DateConnected == null)
                    {
                        <a href="/sites/@(Id)/activate" class="button primary-btn">
                            Install for Free
                        </a>
                    }
                    else
                    {
                        <a href="/sites/@(Id)/purchase" class="button primary-btn">
                            Upgrade
                        </a>
                    }

                </div>
            </header>

            <div>
                <DomainName Domain="Domain" />
                <dl>
                    <div>
                        <dt>Edition</dt>
                        @if (Product?.TierId == null)
                        {
                            <dd>Preview</dd>
                        }
                        else
                        {
                            <dd>
                                @(Product?.TierId)
                            </dd>
                        }
                    </div>
                    <div>
                        <dt>Total Pages Translated</dt>
                        <dd>
                            @Domain.TovikUsage / @((Product?.MaxUsage ?? 1).ToString("N0"))
                        </dd>
                    </div>
                    <div>
                        <dt>Date Activated</dt>
                        <dd>@(Domain.DateConnected != null ? Domain.DateConnected.Value.ToShortDateString() : "Not Yet Activated")</dd>
                    </div>
                    <div>
                        <dt>Last Translation Activity</dt>
                        <dd>@(Domain.LastTranslatedDate == null ? "Never" : Domain.LastTranslatedDate.Value.ToShortDateString())</dd>
                    </div>
                </dl>

            </div>
        </section>

        <section class="icon-header with-buttons">
            <header>
                <img src="/images/WorldIcon.svg" alt="Language Stats" />
                <div>
                    <h3>Language Stats</h3>
                    <p>Overview of your site's language usage and translation activity.</p>
                </div>
            </header>

            <div>
                <LanguageStats Domain="Domain" />
            </div>
        </section>

        <section class="icon-header with-buttons">
            <header>
                <img src="/images/LightbulbIcon.svg" alt="Tovik API" />
                <div>
                    <h3>Tovik API</h3>
                    <p>Enable the Tovik REST API for programmatic access to Tovik's translations.</p>
                </div>
                <div class="buttons">
                    <div class="toggle-label @(Domain.ApiKey != null ? "active" : "inactive")">
                        @(Domain.ApiKey != null ? "Active" : "Inactive")
                        <label class="toggle">
                            <input type="checkbox" checked="@(Domain.ApiKey != null)" @onchange="ToggleApi" />
                            <span class="slider"></span>
                        </label>
                    </div>
                    <a href="/sites/@(Id)/api" class="button secondary-btn">
                        Docs
                    </a>
                </div>
            </header>

            @if (Key != null)
            {
                <div class="apikey">
                    <p>The following API key has been generated for your use with @Domain.Domain. This key will only be visible once, so please copy it to a secure location.</p>
                    <p>If you need to regenerate the API key, you can do so by toggling the API key off and on again.</p>
                    <CodeBlock CanCopy="true">@Key</CodeBlock>
                </div>
            }
            else if (Domain.ApiKey != null)
            {
                <div class="apikey">
                    <p>The Tovik API is currently active for @Domain.Domain. If you need to view or regenerate your API key, please toggle the API key off and on again.</p>
                    <CodeBlock>@Domain.ApiKey</CodeBlock>
                </div>
            }
        </section>
    }
</article>

@inject TovikDomains Domains
@code {
    [Parameter] public required string Id { get; set; }
    SparcDomain? Domain;
    SparcLicense? Product => Domain?.Product("Tovik");
    string? Key;

    protected override async Task OnParametersSetAsync()
    {
        Domain = await Domains.Get(Id);
    }

    void GoToActivate()
    {
        Nav.NavigateTo($"/sites/{Id}/activate");
    }

    private async Task ToggleDomain(ChangeEventArgs e)
    {
        Domain!.IsActive = !Domain.IsActive;
        await Domains.Update(Domain);
    }

    private async Task ToggleApi(ChangeEventArgs e)
    {
        Key = Domain!.ToggleApiKey();
        await Domains.Update(Domain);
    }
}
