@using Sparc.Blossom.Content
@using Tovik.Domains.Settings
@using Tovik.Translation
@page "/sites/{Id}/preview"
@layout EmptyLayout

<div class="browser">
    <iframe srcdoc="@Html" @ref=IFrame>
    </iframe>

    @if (Domain != null)
    {
        <article>
            <a href="/sites" class="back">
                <img src="/icons/ChevronLeft.svg" alt="Back" />
                Back to My Sites
            </a>
            <header>
                @if (Domain.DateConnected == null)
                {
                    <h1>Preview How Tovik Works on @(Domain.Domain ?? "Your Website")</h1>
                }
                else
                {
                    <h1>Translation Settings for @Domain.Domain</h1>
                }
                <p>With Tovik, everyone can understand.</p>
            </header>

            <DomainSettings Domain="Domain" Page="Page" OnChange="ForceReload" InitialLanguageId="@Lang" OnLanguageChange="UpdateLanguage" />

            @if (Domain.DateConnected == null)
            {
                <div class="cta">
                    <div>
                        <h4>This is just a sneak peek.</h4>
                        <p>
                            Translations in this preview are limited. <a href="/sites/@(Domain.Id)/activate">Install Tovik on your website</a> to make @Domain.Domain multilingual and accessible to everyone.
                        </p>
                    </div>
                    <div class="buttons">
                        <a class="button primary-btn" href="/sites/@Domain.Id/activate">
                            Get Tovik
                        </a>
                    </div>
                </div>
            }
        </article>
    }
</div>

@inject TovikDomains Domains
@inject TovikCrawler Crawler
@code {
    [Parameter] public required string Id { get; set; }
    SparcDomain? Domain;
    Page? Page;
    List<string> History = [];
    string Url = string.Empty;
    string? Html;
    string? ErrorMessage;
    string? Lang;

    ElementReference IFrame;


    protected override async Task OnParametersSetAsync()
    {
        ErrorMessage = null;
        Lang = Sparc.Blossom.Content.Language.Random.Id;
        Domain = await Domains.Get(Id);

        if (Domain != null)
        {
            Url = Domain.Domain;
            await LoadPage();
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await Js.InvokeVoidAsync("initPreview", DotNetObjectReference.Create(this));
    }

    async Task ForceReload()
    {
        if (Html != null)
            await Js.InvokeVoidAsync("forceReloadPreview", IFrame);
    }

    async Task LoadPage()
    {
        if (string.IsNullOrWhiteSpace(Url))
            return;

        ErrorMessage = null;
        Html = null;

        (Domain, Page) = await Domains.GetDomainAndPage(Url);
        if (Domain != null && !Domain.IsBlocked && Page != null)
            Html = await Crawler.PreviewAsync(Domain, Page, Lang);
        else
            ErrorMessage = Domain?.IsBlocked == true
                ? "This domain is not compatible with Tovik."
                : "Please enter a valid URL.";
    }

    async Task UpdateLanguage(Sparc.Blossom.Content.Language lang)
    {
        ErrorMessage = null;
        Lang = lang.Id;
        try
        {
            if (Html == null)
                await LoadPage();
            else
                await Js.InvokeVoidAsync("changePreviewLanguage", IFrame, Lang);
        }
        catch (Exception e)
        {
            ErrorMessage = e.Message;
        }
    }

    [JSInvokable]
    public async Task UpdateUrl(string url)
    {
        if (url == Url)
            return;

        Url = url;
        await LoadPage();
        StateHasChanged();
    }

    void Back()
    {
        if (History.Count > 0)
        {
            var lastUrl = History.Last();
            History.RemoveAt(History.Count - 1);
            Nav.NavigateTo($"/preview?u={lastUrl}", false);
        }
        else
        {
            Nav.NavigateTo("/", false);
        }
    }
}
