@using Microsoft.AspNetCore.Components.Sections
@using Tovik.Domains
@inherits LayoutComponentBase


<div class="hero-background"><DashedLine Color="#FFD4BF" /></div>
<header>
	<a class="logo" href="/">
		<img src="/images/TovikWordmark.svg" alt="Tovik" />
	</a>

	<div class="buttons">
		<Sparc.Blossom.Content.LanguageSelector WithButton=true />
		<button class="no-btn" @onclick=Toggle>
			<Favicon Domain="SelectedDomain" />
		</button>
	</div>
</header>

<main>
	@Body
</main>

@if (IsOpen)
{
	<div class="overlay" @onclick=Toggle></div>
}

<aside class="@(IsOpen ? "open" : "")">
	<header>
		<h3>My Domains</h3>
	</header>
	@if (Domains != null)
	{
		<ul>
			@foreach (var domain in Domains)
			{
				<li>
					<NavLink href="@Overview(domain)" Match="NavLinkMatch.Prefix">
						<Favicon Domain="domain" />
						@domain.Domain
					</NavLink>
				</li>
			}

			@if (SelectedDomain != null && IsPreview)
			{
				<li class="preview">
					<NavLink href="@Overview(SelectedDomain)" Match="NavLinkMatch.Prefix">
						<Favicon Domain="SelectedDomain" />
						@SelectedDomain.Domain (preview)
					</NavLink>
				</li>
			}
		</ul>
	}

	<footer>
		<Tovik.App.Domains.AddDomain />
	</footer>
</aside>

<footer>
	&copy; Sparc Cooperative Association.
	<a href="/Privacy">Privacy</a> |
	<a href="/Terms">Terms of Use</a>
</footer>

@inject TovikDomains TovikDomains
@code {
	[CascadingParameter] public RouteData? RouteData { get; set; }
	SparcDomain? SelectedDomain;
	List<SparcDomain>? Domains;
	bool IsOpen;
	void Toggle() => IsOpen = !IsOpen;

	protected override async Task OnInitializedAsync()
	{
		Domains = await TovikDomains.All();
	}

	protected override async Task OnParametersSetAsync()
	{
		object? domainId;
		if (RouteData?.RouteValues.TryGetValue("Id", out domainId) == true)
		{
			if (SelectedDomain != null && SelectedDomain.Id != domainId!.ToString())
				IsOpen = false;

			SelectedDomain = await TovikDomains.Get(domainId!);
		}
	}

	string Overview(SparcDomain domain) => $"/app/{domain.Id}";
	bool IsPreview => Domains != null && SelectedDomain != null && !Domains.Any(x => x.Id == SelectedDomain.Id);
}