@using Tovik.Domains

<header>
	@if (Domains != null)
	{
		@if (SelectedDomain != null)
		{
			<div>
				<img src="@SelectedDomain.FaviconUri" alt="@SelectedDomain.Domain" onerror="this.src='/images/Star.svg'" />
				<h1>@SelectedDomain.Domain</h1>
			</div>
		}
		else
		{
			<div>
				<h1>Welcome to Tovik</h1>
			</div>
		}

		<div>
			<select @onchange="Go">
				@foreach (var domain in Domains)
				{
					<option value="@domain.Id">@domain.Domain</option>
				}
			</select>

			@if (HasNoDomains)
			{
				<button @onclick="AddDomain">Add Your First Domain</button>
			}
			else if (IsClaimable)
			{
				<button @onclick="ClaimDomain">Finish Setup</button>
			}
			else if (IsUpgradable)
			{
				<button @onclick="Upgrade">Upgrade to Premium</button>
			}
		</div>
	}

	<nav>
		<ul>
			<li>
				<NavLink href="@Overview">Overview</NavLink>
			</li>
			<li>
				<NavLink href="@Vocabulary">Vocabulary</NavLink>
			</li>
			<li>
				<NavLink href="@Setup">Setup</NavLink>
			</li>
		</ul>
	</nav>
</header>

<Sparc.Blossom.Shared.BlossomDialog @ref="AddDialog">
	<Tovik.App.Domains.AddDomain />
</Sparc.Blossom.Shared.BlossomDialog>

@inject TovikDomains TovikDomains
@code {
	[Parameter] public string? DomainId { get; set; }
	List<SparcDomain>? Domains;
	SparcDomain? SelectedDomain;
	Sparc.Blossom.Shared.BlossomDialog? AddDialog;

	protected override async Task OnInitializedAsync()
	{
		Domains = await TovikDomains.All();
		if (DomainId != null)
			SelectedDomain = await TovikDomains.Get(DomainId);
	}

	string Overview => $"/app/{DomainId}/overview";
	string Vocabulary => $"/app/{DomainId}/vocabulary";
	string Setup => $"/app/{DomainId}/setup";

	bool HasNoDomains => Domains != null && (Domains.Count == 0 || SelectedDomain == null);
	bool IsClaimable => SelectedDomain != null && SelectedDomain.TovikUserId == null;
	bool IsUpgradable => Domains != null
		&& SelectedDomain != null
		&& Domains.Any(x => x.Id == SelectedDomain.Id)
		&& SelectedDomain.Product("Tovik")?.MaxUsage < 50;

	async Task AddDomain()
	{
		if (AddDialog != null)
			await AddDialog.OpenModalAsync();
	}

	void ClaimDomain() => Nav.NavigateTo($"/app/{SelectedDomain!.Id}/setup");
	void Upgrade() => Nav.NavigateTo($"/app/{SelectedDomain!.Id}/upgrade");

	private void Go(ChangeEventArgs args)
	{
		Nav.NavigateTo($"/app/{args.Value}/overview");
	}
}